<h1 style='padding: 0px; margin: 0px; font-size: 18px; color: #000033;'>WaveLineup is a free Travel Card and Visit tracking system</h1>
<p>You have been sent this email because <%= @referring_user.email %> at <span style='font-weight: bold'><%= @referring_user.practice.name %></span> thought this system would interest you.</p>

<%= render :partial => 'why_wavelineup' %>

<p style='font-family: verdana, arial, helvetica, sans-serif; font-size: 13px; line-height: 18px; color: #000000;'>Please visit <%= APP_URL %>/register_referred/<%= @token %> to register.</p>
