<h1>Internet Explorer is not supported by WaveLineup</h1>

<p>Please utilize any of the following (free) browsers to access WaveLineup:</p>

<ul style='list-style-type:none;'>
	<li><%= image_tag 'firefox.jpg' %><%= link_to 'Mozilla Firefox (Mac, Linux, Windows)', 'http://www.mozilla.com' %> </li>
	<li><%= image_tag 'chrome.jpg' %><%= link_to 'Google Chrome (Mac, Linux, Windows)', 'http://www.google.com/chrome' %></li>
	<li><%= image_tag 'safari.jpg' %><%= link_to 'Apple Safari (Mac, Windows)', 'http://www.apple.com/safari/download' %></li>
</ul>