<script language="javascript">
  $(document).ready(function() {    
    visit_set_values_from_hidden_fields();    
    // $(".visit_date_picker").datepicker( { changeYear: true, yearRange: '1900:2020', maxDate: '0d' } );

		// set mini tc values
		mini_travel_card_set_values_from_hidden_fields();
		set_third_bme_strategy(true);
  });
</script>

<div id="visit" style='width: 7in;'>

<% if !@visit %> 
<table class="selector_table">
  <tr>
    <td style="width: 1.5in;"><span class="section_name">Current Visit</span></td>

      <td style="width: 1.0in;" class="selector_cell selector_cell_text_six_character selector_cell_add" onMouseDown="new_visit();">New Visit</td>
  </tr>
</table>
<% end %>

<% if @visit %>
  <%= form_for(@visit, :html => { :class => "ajaxForm"}) do |f| %>
    <table class="selector_table">
      <tr>
				<td><%= render :partial => 'visits/mini_travel_card' %></td> 
        <td valign='top'>
					<table class='selector_table'>
						<tr><td class="half_height label">Date</td><td colspan='2' class="half_height"></td></tr>
						<tr>
							<td><%= f.text_field :date, :size => "10", :class => 'autosave' %></td>
        			<td style="width: 1.0in;" class="selector_cell selector_cell_text_six_character selector_cell_add" onMouseDown="new_visit();">New Visit</td>    
        			<td style="width: 1.0in;" class="selector_cell selector_cell_text_six_character delete" href="<%= '/visits/' + @visit.id.to_s %>">Delete</td>   
  					</tr>
						<tr>
							<td colspan='3' class="half_height label">Notes</td>
						</tr>
						<tr>
				      <td colspan='3'><%= f.text_area :notes, :style => "width: 350px; height: 50px", :class => 'autosave' %></td>
			      </tr>
					</table>
				</td>
      </tr>
    </table>
    <table id="current_visit" class="selector_table">
      <tr>
        <td class="half_height label" style='width: 1.0in;'>PH</td>
        <td class="half_height label" style='width: 1.0in;'>GW 1</td>
        <td class="half_height label phase_1_affected_gateway_label" style='width: 1.0in;'>Aff</td>
        <td class="half_height label" style='width: 1.0in;'>GW 2</td>
        <td class="half_height label phase_1_affected_gateway_label" style='width: 1.0in;'>Aff</td>
        <td id="phase_1_direction_label" class="half_height label" >Dir</td>
        <td class="half_height label">LOC</td>
        <td class="half_height">&nbsp;</td>
      </tr>
      <tr>
        <td id="selected_phase_1" class="selector_cell selector_cell_text_three_character" onMouseDown="show_selector('phase_selector',this, 'selected_phase_1', 'visit_phase_1_gateway_1');"></td>
        <td id="selected_phase_1_gateway_1" class="selector_cell selector_cell_text_three_character" onMouseDown="show_selector('phase_gateway_selector', this, 'selected_phase_1_gateway_1', 'visit_phase_1_gateway_1');"></td>
        <td id="selected_phase_1_gateway_1_affecting" class="selector_cell selector_cell_text_three_character" onMouseDown="show_selector('phase_gateway_selector', this, 'selected_phase_1_gateway_1_affecting', 'visit_phase_1_gateway_1_affecting');"></td>
        <td id="selected_phase_1_gateway_2" class="selector_cell selector_cell_text_three_character" onMouseDown="show_selector('phase_gateway_selector', this, 'selected_phase_1_gateway_2', 'visit_phase_1_gateway_2');"></td>
        <td id="selected_phase_1_gateway_2_affecting" class="selector_cell selector_cell_text_three_character" onMouseDown="show_selector('phase_gateway_selector', this, 'selected_phase_1_gateway_2_affecting', 'visit_phase_1_gateway_2_affecting');"></td>
        <td id="selected_phase_1_direction" class="selector_cell selector_cell_text_three_character" onMouseDown="show_selector('phase_direction_selector', this, 'selected_phase_1_direction', 'visit_phase_1_direction');"></td>
        <td id="selected_phase_1_level_of_care" class="selector_cell selector_cell_text_three_character" onMouseDown="show_selector('level_of_care_selector', this, 'selected_phase_1_level_of_care', 'visit_phase_1_level_of_care');"></td>
        <td id="work_second_phase_button" class="selector_cell selector_cell_text_six_character selector_cell_size_medium" onClick="$('.phase_2').show(); $(this).hide();">+ 2nd Phase</td>
      </tr> 
      <tr class='phase_2 hidden'>	
	      <td class="half_height label" style='width: 1.0in;'>PH</td>
        <td class="half_height label" style='width: 1.0in;'>GW 1</td>
        <td class="half_height label phase_2_affected_gateway_label" style='width: 1.0in;'>Aff</td>
        <td class="half_height label" style='width: 1.0in;'>GW 2</td>
        <td class="half_height label phase_2_affected_gateway_label" style='width: 1.0in;'>Aff</td>
        <td id="phase_2_direction_label" class="half_height label" >Dir</td>
        <td class="half_height label">LOC</td>
      </tr>
      <tr class='phase_2 hidden'>
        <td id="selected_phase_2" class="selector_cell selector_cell_text_three_character" onMouseDown="show_selector('phase_selector',this, 'selected_phase_2', 'visit_phase_2_gateway_2');"></td>
        <td id="selected_phase_2_gateway_1" class="selector_cell selector_cell_text_three_character" onMouseDown="show_selector('phase_gateway_selector', this, 'selected_phase_2_gateway_1', 'visit_phase_2_gateway_1');"></td>
        <td id="selected_phase_2_gateway_1_affecting" class="selector_cell selector_cell_text_three_character" onMouseDown="show_selector('phase_gateway_selector', this, 'selected_phase_2_gateway_1_affecting', 'visit_phase_2_gateway_1_affecting');"></td>
        <td id="selected_phase_2_gateway_2" class="selector_cell selector_cell_text_three_character" onMouseDown="show_selector('phase_gateway_selector', this, 'selected_phase_2_gateway_2', 'visit_phase_2_gateway_2');"></td>
        <td id="selected_phase_2_gateway_2_affecting" class="selector_cell selector_cell_text_three_character" onMouseDown="show_selector('phase_gateway_selector', this, 'selected_phase_2_gateway_2_affecting', 'visit_phase_2_gateway_2_affecting');"></td>
        <td id="selected_phase_2_direction" class="selector_cell selector_cell_text_three_character" onMouseDown="show_selector('phase_direction_selector', this, 'selected_phase_2_direction', 'visit_phase_2_direction');"></td>
        <td id="selected_phase_2_level_of_care" class="selector_cell selector_cell_text_three_character" onMouseDown="show_selector('level_of_care_selector', this, 'selected_phase_2_level_of_care', 'visit_phase_2_level_of_care');"></td>
      </tr>  

    </table>
    <table class="selector_table">
      <tr>
        <td colspan="6" class="half_height label" >Tension</td>
        <td colspan="5" class="half_height label" >Advanced/Misc</td> 
      </tr>
      <tr>
        <td class="half_height label" >S Leg</td>
        <td class="half_height label" >Amount</td>
        <td class="half_height label" >HT</td>
        <td class="half_height label" >EV</td>
        <td class="half_height label" >ABD</td>
        <td class="half_height label" >ADD</td>
        <td class="half_height label" >I OF</td>
        <td class="half_height label" >E OF</td>
        <td class="half_height label" >LLA</td>
        <td class="half_height label" >SLA</td>
        <td class="half_height label" >Crest</td>
      </tr>     
      <tr>
        <td id="short_leg_side" class="selector_cell selector_cell_text_three_character" onMouseDown="show_selector('side_selector', this, 'short_leg_side', 'visit_short_leg_side');"></td>    
        <td id="short_leg_amount" class="selector_cell selector_cell_text_three_character" onMouseDown="show_selector('short_leg_amount_selector', this, 'short_leg_amount', 'visit_short_leg_amount');"></td>    
        <td id="heel_tension_level" class="selector_cell selector_cell_text_three_character" onMouseDown="show_selector('tension_level_selector', this, 'heel_tension_level', 'visit_heel_tension_level');"></td>    
        <td id="eversion_tension_level" class="selector_cell selector_cell_text_three_character" onMouseDown="show_selector('tension_level_selector', this, 'eversion_tension_level', 'visit_eversion_tension_level');"></td>    
        <td id="abduction_tension_level" class="selector_cell selector_cell_text_three_character" onMouseDown="show_selector('tension_level_selector', this, 'abduction_tension_level', 'visit_abduction_tension_level');"></td>
        <td id="adduction_tension_level" class="selector_cell selector_cell_text_three_character" onMouseDown="show_selector('tension_level_selector', this, 'adduction_tension_level', 'visit_adduction_tension_level');"></td>    
        <td id="ingression_organizing_field" class="selector_cell selector_cell_text_three_character" onMouseDown="show_selector('organizing_field_selector', this, 'ingression_organizing_field', 'visit_ingression_organizing_field');"></td>    
        <td id="egression_organizing_field" class="selector_cell selector_cell_text_three_character" onMouseDown="show_selector('organizing_field_selector', this, 'egression_organizing_field', 'visit_egression_organizing_field');"></td>    
        <td id="long_lever_arm" class="selector_cell selector_cell_text_three_character" onMouseDown="show_selector('boolean_selector', this, 'long_lever_arm', 'visit_long_lever_arm');"></td>    
        <td id="short_lever_arm" class="selector_cell selector_cell_text_three_character" onMouseDown="show_selector('boolean_selector', this, 'short_lever_arm', 'visit_short_lever_arm');"></td>    
        <td id="crest" class="selector_cell selector_cell_text_three_character" onMouseDown="show_selector('boolean_selector', this, 'crest', 'visit_crest');"></td>    
      </tr>
    </table>
    <table class="selector_table">
      <tr>
        <td colspan="4" class="half_height label" >SRI</td> 
        <td colspan="6" class="half_height">&nbsp;</td>
      </tr>
      <tr>
        <td class="half_height label" >Stage</td>
        <td class="half_height label" >Pos</td>
        <td class="half_height label" >LOC</td> 
        <td class="half_height label" >OF</td>
        <td class="half_height">&nbsp;&nbsp;</td>
        <td colspan="5" style="width: 3.0in;" class="half_height label">Diagnosis</td>
      </tr> 
      <tr>    
        <td id="sri_stage" class="selector_cell selector_cell_text_three_character" onMouseDown="show_selector('sri_stage_selector', this, 'sri_stage', 'visit_sri_stage');"></td>
        <td id="sri_position" class="selector_cell selector_cell_text_three_character" onMouseDown="show_selector('sri_position_selector', this, 'sri_position', 'visit_sri_position');"></td>    
        <td id="sri_level_of_care" class="selector_cell selector_cell_text_three_character" onMouseDown="show_selector('level_of_care_selector', this, 'sri_level_of_care', 'visit_sri_level_of_care');"></td>    
        <td id="sri_organizing_field" class="selector_cell selector_cell_text_three_character" onMouseDown="show_selector('organizing_field_selector', this, 'sri_organizing_field', 'visit_sri_organizing_field');"></td>    
        <td>&nbsp;&nbsp;</td>
        <td colspan="5"><%= f.text_area :diagnosis, :style => "width: 300px; height: 50px", :class => 'autosave' %></td>    
      </tr>
    </table>

    <%= f.hidden_field :id %>
    <%= f.hidden_field :practice_member_id %>
    <%= f.hidden_field :phase_1 %>
    <%= f.hidden_field :phase_1_gateway_1 %>
    <%= f.hidden_field :phase_1_gateway_1_affecting %>
    <%= f.hidden_field :phase_1_gateway_2 %>
    <%= f.hidden_field :phase_1_gateway_2_affecting %>
    <%= f.hidden_field :phase_1_level_of_care %>
    <%= f.hidden_field :phase_1_direction %>
    <%= f.hidden_field :phase_2 %>
    <%= f.hidden_field :phase_2_gateway_1 %>
    <%= f.hidden_field :phase_2_gateway_1_affecting %>
    <%= f.hidden_field :phase_2_gateway_2 %>
    <%= f.hidden_field :phase_2_gateway_2_affecting %>
    <%= f.hidden_field :phase_2_level_of_care %>
    <%= f.hidden_field :phase_2_direction %>
    <%= f.hidden_field :abduction_tension_level %>
    <%= f.hidden_field :adduction_tension_level %>
    <%= f.hidden_field :heel_tension_level %>
    <%= f.hidden_field :eversion_tension_level %>
    <%= f.hidden_field :sri_stage %>
    <%= f.hidden_field :sri_position %>
    <%= f.hidden_field :sri_level_of_care %>
    <%= f.hidden_field :sri_organizing_field %>
    <%= f.hidden_field :ingression_organizing_field %>
    <%= f.hidden_field :egression_organizing_field %>
    <%= f.hidden_field :long_lever_arm %>
    <%= f.hidden_field :short_lever_arm %>
    <%= f.hidden_field :crest %>
    <%= f.hidden_field :short_leg_side %>
    <%= f.hidden_field :short_leg_amount %>
    <%= f.hidden_field :diagnosis %>

  <% end %>
<% end %>

</div>