<%= form_for(@feedback_support, :html => { :class => "ajax_form"}) do |f| %>
<table>
  <% if @feedback_support.errors.any? %>
		<tr>
			<td>
		    <div id="error_explanation">
		      <h2><%= pluralize(@feedback_support.errors.count, "error") %> prohibited this feedback_support from being saved:</h2>

		      <ul>
		      <% @feedback_support.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
			</td>
		</tr>
  <% end %>
	<tr>
		<td>
	    <%= f.label :message, 'Let us know how it is going or if you need some help!' %><br />
	    <%= f.text_area :message %>
		</td>
	</tr>
	<tr>
		<td>
		  <%= f.submit 'Send', :style => 'float: right;', :class => 'selector_cell_save' %>
		</td>
	</tr>
</table>
<% end %>
