<h1>Listing feedback_supports</h1>

<table>
  <tr>
    <th>User</th>
    <th>Message</th>
    <th>Location in application</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @feedback_supports.each do |feedback_support| %>
  <tr>
    <td><%= feedback_support.user_id %></td>
    <td><%= feedback_support.message %></td>
    <td><%= feedback_support.location_in_application %></td>
    <td><%= link_to 'Show', feedback_support %></td>
    <td><%= link_to 'Edit', edit_feedback_support_path(feedback_support) %></td>
    <td><%= link_to 'Destroy', feedback_support, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Feedback support', new_feedback_support_path %>
