<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @feedback_support.user_id %>
</p>

<p>
  <b>Message:</b>
  <%= @feedback_support.message %>
</p>

<p>
  <b>Location in application:</b>
  <%= @feedback_support.location_in_application %>
</p>


<%= link_to 'Edit', edit_feedback_support_path(@feedback_support) %> |
<%= link_to 'Back', feedback_supports_path %>
