<a name='top' href='/register'><span class='bold'>Create My Practice</span></a><br><br>

<h1>About WaveLineup</h1><br>
<a href='#videos'>Videos</a><br>
<a href='#getting_started'>Getting Started</a><br>
<a href='#tracking_visits'>Tracking Visits</a><br>
<a href='#travel_card'>Travel Card</a><br>
<a href='#visit_history'>Visit History</a><br>
<a href='#system_navigation'>System Navigation</a><br>
<a href='#managing_your_practice'>Managing your Practice</a><br>
<a href='#offer_pricing_and_referrals'>Offer, Pricing and Referrals</a><br>
<a href='#support_feedback_and_feature_requests'>Support, Feedback and Feature Requests</a><br>
<a href='#system_requirements'>System Requirements</a><br>
<a href='#security_and_compliance'>Security and Compliance</a><br>
<a href='#community_driven_project_background_and_business_case'>Community Driven Project: Background and Business Case</a><br>
<a href='#future_improvements_and_features'>Future Improvements and Features</a><br>
<a href='#contact_information'>Contact Information</a><br>

<table>
  <tr><td colspan='2'>&nbsp;</td></tr>
  <tr><td colspan='2'><h2>Videos <span class='small_text'><a name='videos' href='#top'>(return to top)</a></span></h2></td></tr>
  <tr>
    <td valign='top'>
      <h3>WaveLineup: Intro and Ease of Use</h3>
      <iframe width="350" height="215" src="http://www.youtube.com/embed/hJUCxNgOyaU" frameborder="0" allowfullscreen></iframe>
    </td>
    <td valign='top'>
      <h3>WaveLineup: Sign-up and Practice Administration</h3>
      <iframe width="350" height="215" src="http://www.youtube.com/embed/T58BTOva8Lk" frameborder="0" allowfullscreen></iframe>
    </td>
  </tr>
  <tr>
    <td valign='top' colspan='2'>
      <h3>WaveLineup: A Community Driven System</h3>
      <iframe width="350" height="215" src="http://www.youtube.com/embed/5DAjIO96U20" frameborder="0" allowfullscreen></iframe>
    </td>
  </tr>
  <tr><td colspan='2'>&nbsp;</td></tr>
  <tr><td colspan='2'>&nbsp;</td></tr>
  <tr><td colspan='2'><h2>Easy to Get Started and Keep On Using <span class='small_text'><a name='getting_started' href='#top'>(return to top)</a></span></h2></td></tr>
  <tr>
    <td valign='top' colspan='2'>
      <p>The goal was to create a system that is as easy to use as jotting notes on a paper travel card, which could be used immediately in the Practice Room without training or configuration.</p>

      <p>We specifically are not trying to 'do everything for everybody' and have endeavored to create a minimal set of useful features which can be refined and expanded over time.</p>

      <p>We have focused on minimizing movement and clicks to get things done in the most efficient manner, so that you can put your focus on your Practice Members and not navigating menus and screens.</p>

      <p>All movement and navagation in WaveLineup is based as much as possible on simple button clicks and selectors. This allows the WaveLineup to be used on a standard computer and also on many of the available touch screen tablet pc's.</p>
    </td>
  </tr>
  <tr><td colspan='2'>&nbsp;</td></tr>
  <tr><td colspan='2'><h2>Instantaneously add Practice Members</h2></td></tr>
  <tr>
    <td valign='top'>
      <p>You can add a Practice Member in real time just by entering their name. This means you can potentially add someone while they are on the table for their first visit and not miss a beat.</p>
    </td>
    <td valign='top'><%= image_tag 'about/new_practice_member.gif' %></td>
  </tr>
  <tr><td colspan='2'>&nbsp;</td></tr>
  <tr><td colspan='2'><h2>Enter Visit Information Right Away</h2></td></tr>
  <tr>
    <td valign='top'>
      <p>Once you add a Practice Member, you are brought to the Visit screen where you can enter their visit information.</p>
    </td>
    <td valign='top'><%= image_tag 'about/visit_single_phase.gif' %></td>
  </tr>
  <tr><td colspan='2'>&nbsp;</td></tr>
  <tr><td colspan='2'><h2>Easily Toggle between Practice Members in your Practice Room</h2></td></tr>
  <tr>
    <td valign='top' >
      <p>As you move between Practice Members, WaveLineup follows you.</p>
      <p>It maintains a list of all the Practice Members you have accessed in the past 30 minutes.</p>
      <p>To move to another Practice Member in this group, you just click on the Lineup button and then select the Practice Member.</p>
    </td>
    <td valign='top'><%= image_tag 'about/lineup_selector.gif' %></td>
  </tr>
  <tr><td colspan='2'>&nbsp;</td></tr>
  <tr><td colspan='2'><h2>Comprehensive Visit Information Tracking <span class='small_text'><a name='tracking_visits' href='#top'>(return to top)</a></span></h2></td></tr>
  <tr>
    <td valign='top'>
      <p>Visit Information is based on the traditional Travel Card/Visit form.</p>
      <p>Work up to two Phases.</p>
      <p>Track Tension Levels and Advanced information.</p>
      <p>Track SRI session information.</p>
      <p>Ample space for Notes and Diagnosis information.</p>
    </td>
    <td valign='top'><%= image_tag 'about/visit_complete.gif' %></td>
  </tr>
  <tr>
    <td valign='top'>
      <p>The Visit screen also contains a mini-Travel Card icon which shows the Practice Member's Gateway information.</p>
      <p>When a Phase is selected for the visit, the mini-Travel Card highlights the available Gateways for quick reference.</p>
      <p>The second Phase selectors are hidden until needed.</p>
    </td>
    <td valign='top'><%= image_tag 'about/visit_highlight_gateways.gif' %></td>
  </tr>
  <tr><td colspan='2'>&nbsp;</td></tr>
  <tr><td colspan='2'><h2>Practice Member Travel Card <span class='small_text'><a name='travel_card' href='#top'>(return to top)</a></span></h2></td></tr>
  <tr>
    <td valign='top'>
      <p>The Travel Card contains the following information on the Practice Member:</p>
      <ul>
        <li><p>Gateways</p></li>
        <li><p>Level of Care</p></li>
        <li><p>Achievement of Respiratory Wave</p></li>
        <li><p>Primary BME strategy</p></li>
      </ul>
    </td>
    <td valign='top'><%= image_tag 'about/travel_card_basic.gif' %></td>
  </tr>
  <tr>
    <td valign='top'>
      <p>The Travel Card also contains collapsable sections which hold other Practice Member information:</p>
      <ul>
        <li><p>Tension Levels<p></li>
        <li><p>SRI<p></li>
        <li><p>Programs/Books<p></li>
        <li><p>General Notes<p></li>
      </ul>
    </td>
    <td valign='top'><%= image_tag 'about/travel_card_extended.gif' %></td>
  </tr>
  <tr><td colspan='2'>&nbsp;</td></tr>
  <tr><td colspan='2'><h2>Review Past Visits <span class='small_text'><a name='visit_history' href='#top'>(return to top)</a></span></h2></td></tr>
  <tr>
    <td valign='top'>
      <p>The Visit List screen lists the Practice Members Visits, showing you the basics:</p>
      <ul>
        <li>Phase(s) worked</li>
        <li>SRI stages worked</li>
      </ul>
      <p>Any Visit in the list can be clicked upon to reload it into the Visit screen where it can be reviewed or modified.</p>
    </td>
    <td valign='top'><%= image_tag 'about/visit_list.gif' %></td>
  </tr>
  <tr><td colspan='2'>&nbsp;</td></tr>
  <tr><td colspan='2'><h2>Easily Navigate the System <span class='small_text'><a name='system_navigation' href='#top'>(return to top)</a></span></h2></td></tr>
  <tr>
    <td valign='top'>
      <p>The Find selector was created to easily locate the desired Practice Member.</p>
      <p>The list of names can be filtered by selecting the first letter of the last name you wish to filter on, just like an address book.</p>
      <p>By default when selecting an Practice Member here you will be taken to their Practice Room (Visit) screen.</p>
      <p>If you wish to go to a different screen you select it at the top.</p>
    </td>
    <td valign='top'><%= image_tag 'about/find_selector.gif' %></td>
  </tr>
  <tr><td colspan='2'>&nbsp;</td></tr>
  <tr><td colspan='2'><h2>Managing your Practice <span class='small_text'><a name='managing_your_practice' href='#top'>(return to top)</a></span></h2></td></tr>
  <tr>
    <td valign='top'>
      <h3>Multiple Users possible per Practice</h3>
      <p>A Practice can have many users. Each created user will have their own login credential. Only the user who created the Practice account  can access this screen. Users can also be deleted here.</p>
      <h3>You Always Own Your Data</h3>
      <p>We believe that you should select the best system for your purposes and should never be held hostage to where your data resides. You can always export your Practice data which will include all Practice Members, Travel Card and Visit information in WaveLineup for your practice, in xml format.</p>
      <p>We also encourage you to maintain regular backups of your data by using this function.</p>
    </td>
    <td valign='top'><%= image_tag 'about/manage_practice.gif' %></td>
  </tr>
  <tr><td colspan='2'>&nbsp;</td></tr>
  <tr><td colspan='2'><h2>Statistics</h2></td></tr>
  <tr>
    <td valign='top'>
      <p>Every time you log in to WaveLineup, you will see some simple statistics for your Practice.</p>
    </td>
    <td valign='top'><%= image_tag 'about/statistics.gif' %></td>
  </tr>
  <tr><td colspan='2'>&nbsp;</td></tr>
  <tr><td colspan='2'><h2>Offer, Pricing and Referrals <span class='small_text'><a name='offer_pricing_and_referrals' href='#top'>(return to top)</a></span></h2></td></tr>
  <tr>
    <td colspan='2'>
      <p>WaveLineup is provided free of charge at the present time.</p>
      <p>At an unspecified point (probably late 2011 or early 2012) subscribing practices will be given a choice to pay a fee for continued use (which will be used to maintain the system status quo), or to pay a higher fee which would enable continued development of new features. If a practice choses not to pay they will still be able to export their practice data.</p>
      <p>Fees have not been determined since it is unclear the demand for this system. The goal will to keep the system affordable to all Practice sizes and income levels. However to achieve this there will need to be sufficient subcribers to WaveLineup, so please make referrals!</p>

      <p>Please read the section <a href='#community_driven_project_background_and_business_case'>Community Driven Project: Background and Business Case</a> for more detail.</p>
    </td>
  </tr>
  <tr>
    <td colspan='2' valign='top'><h3>Referrals</h3><%= image_tag 'about/referral.gif' %></td>
  </tr>
  <tr>
    <td colspan='2'>
      <p>On the Home screen there is a form to submit an email address of a Practitioner you would like to refer to the system. If you send out an invite using this and the referred Practitioner signs up using the link we send them, WaveLineup will note the referral. It is planned that when and if WaveLineup becomes a paid system that a Practice who has referred other paying Practices(s) will receive a discount on their monthly fee. As such, it is possible that if a Practitioner refers a number of other Practitioners, they could end up not paying or paying very little for the system on a monthly basis!</p>
    </td>
  </tr>
  <tr><td colspan='2'>&nbsp;</td></tr>
  <tr><td colspan='2'><h2>Support, Feedback and Feature Requests <span class='small_text'><a name='support_feedback_and_feature_requests' href='#top'>(return to top)</a></span></h2></td></tr>
  <tr>
    <td valign='top'>
      <p>Support is available via the Feedback/Support dialog in the application. The User making the request will receive a response to their email account on record.</p>
    </td>
    <td valign='top'><%= image_tag 'about/feedback_support.gif' %></td>
  </tr>
  <tr>
    <td colspan='2'>
      <p>Given the free nature of the initial release, support will be provided on an as-available basis and time to respond is not guaranteed. However we will make every attempt to resolve any issues specifically related to the programming and system functionality so that it works as designed.</p>
      <p>Feedback and Feature Requests can also be submitted via the Feedback/Support dialog.</p>
    </td>
  </tr>
  <tr><td colspan='2'>&nbsp;</td></tr>
  <tr><td colspan='2'><h2>System Requirements <span class='small_text'><a name='system_requirements' href='#top'>(return to top)</a></span></h2></td></tr>
  <tr>
    <td colspan='2' valign='top'>
      <ul>
        <li><p>A computer or touch screen device with FireFox, Safari or Google Chrome web-browser (Internet Explorer is not supported)</p></li>
        <li><p>The web-browser used must have JavaScript enabled and accept cookies.</p></li>
        <li><p>An internet connection (preferrably DSL)</p></li>
      </ul>
      <p>All system data resides on a secure remote server, so you have nothing to install and as soon as you update information on one computer or tablet, the same information is available to all computers (at most you have to reload the screen if it is for the same Practice Member as updated on the other device).</p>
    </td>
  </tr>
  <tr><td colspan='2'>&nbsp;</td></tr>
  <tr><td colspan='2'><h2>Security and Compliance <span class='small_text'><a name='security_and_compliance' href='#top'>(return to top)</a></span></h2></td></tr>
  <tr>
    <td colspan='2' valign='top'>
      <p>All subscribing Practices are required to determine if WaveLineup meets the legal requirements of their Country and local jurisdictions.</p>
      <p>WaveLineup functions only on a 256-bit ssl encrypted connection, thus securing data transmission between your device and our servers.</p>
      <p>WaveLineup currently does not house any personal identification information other than Practice Member names. If such data (ie. Social Security Number, Date of Birth, etc.) is ever added, it will be encrypted at rest in the system databases.</p>
    </td>
  </tr>
  <tr><td colspan='2'>&nbsp;</td></tr>
  <tr><td colspan='2'><h2>Community Driven Project: Background and Business Case <span class='small_text'><a name='community_driven_project_background_and_business_case' href='#top'>(return to top)</a></span></h2></td></tr>
  <tr>
    <td colspan='2' valign='top'>
      <p>From the start it has been realized that the viability of WaveLineup would come from a significant percentage of Practitioners adopting the system. It is estimated that there might be 300-500 active Practitioners. There are a few Practices (not the norm) which can afford the cost of five-figure specialized software systems (which we believe in the end may actually be less useful than what WaveLineup could become for the price of pennies compared to such an investment). The rest are left to their own devices to cobble together more mass-market type systems. There is no system we are aware of which, without costly custom configuration, emulates the data which Network practitioners record.</p>
      <p>WaveLineup has been wholly designed and programmed by David Kahn as a side project to his other software engineering projects for paying clients (hence the time it has taken to release). He has invested many hours of focused attention to create this initial release. Initially WaveLineup was to be a full Practice Management system including Calendar/Scheduling, full Contacts/Address Book, Accounting and a number of other features, and the majority of the system was actually programmed. However at a point he deemed the project as too aggressive for the level of quality he wanted to target for the initial release.</p>
      <p>Also, although many Practitioners told him the system was a great idea, only one Practitioner actually took the time, interest and effort to work with him through the whole development process. So it was also emergingly unclear if there would be adoption to justify creating a full Practice Management system just for Network practitioners. For this reason too, it was decided to scale back and create a basic system focusing on the Travel Card and Visit tracking features, and then to judge the viability of future investment in the project based on the interest and adoption of this scaled-back version.</p>
      <p>At this point it is being left up to the community of Network Practitioners as to the future of WaveLineup. David would love to continue improving and adding valuable features to the system to make it a full Practice Management system and beyond, espcially getting to featues which improve the care and reinforcement of the work of the Network pracitioner (see list of Proposed Future Improvements and Features). However, just as Practitioners must charge (generally!) for their work, he must also make sure that additional investment in development as well as continued support of the system can be justified as a business.</p>
      <p>The first step is to get as many Practitioners to use the free release as possible. Initial pricing of WaveLineup will be based on the adoption of the initial release. With enough adoption and conversions to paying subscriptions, it will (a) keep the price at a reasonable monthly fee and (b) allow a basic income to fund more full-time work on the addition of new features to the system.</p>
      <p>The Network Practitioner community right now through WaveLineup has the ability to retain a successful software architect and engineer to build custom solutions for them via subscribing. Feature requests are intended to be prioritized by the subscribers themselves, so the community will have significant input to guide the future of the system. This does not mean that every feature requested will be possible or reasonable to implement but the primary consideration will be given to the requests from the community of subscribers.</p>
      <p>If an individual Practitioner were to fund a project such as WaveLineup they would be up against the following:</p>
      <ul>
        <li><p>Finding a qualified software engineer who can also design and deploy a system.</p></li>
        <li><p>Manage the project: Simply hiring an engineer does not guarantee a successful project, as many companies who have ventured to create a software project understand.</p></li>
        <li><p>Paying for the engineer (likely $75-100 hourly): The estimated cost even of the current WaveLineup system would be minimally in the $15,000-30,000 USD range.</p></li>
      </ul>
      <p>So, looking at it in this perspective, the community, if a significant section of it desires to have custom software developed, has an opportunity through their numbers to create the means for such development!</p>
      <p>We sincerely hope that many of you decide to try WaveLineup and consider not just its current features but what it could become. Especially what it could mean in terms of the quality, professionalism and service you and provide your Practice Members.</p>
    </td>
  </tr>
  <tr><td colspan='2'>&nbsp;</td></tr>
  <tr><td colspan='2'><h2>Proposed Future Improvements and Features <span class='small_text'><a name='future_improvements_and_features' href='#top'>(return to top)</a></span></h2></td></tr>
  <tr>
    <td colspan='2'>
      <p>Some proposed features are:</p>
      <ul>
        <li><p>Macros for Diagnoses and Comments</p></li>
        <li><p>SOAP notes and forms</p></li>
        <li><p>Basic Accounting</p></li>
        <li><p>Calendar and Practice Member Scheduling</p></li>
        <li><p>Online Scheduling</p></li>
        <li><p>Post-Visit automatic follow-up emails (reinforcing the session and connection of the Practice Member to the Practice)</p></li>
        <li><p>Additional Statistics for both Practice level and relating to Visit information at the Practice Member level.</p></li>
        <li><p>Upgrade to a faster server</p></li>
        <li><p>Speed up the processing time of the application</p></li>
      </ul>
    </td>
  </tr>
  <tr><td colspan='2'>&nbsp;</td></tr>
  <tr><td colspan='2'><h2>Contact Information <span class='small_text'><a name='contact_information' href='#top'>(return to top)</a></span></h2></td></tr>
  <tr>
    <td colspan='2' valign='top'>
      <p>Application url: http://wavelineup.com</p>
      <p>StructuralArtistry<br>
      David Kahn, Principal Architect and Engineer<br>
      <%= image_tag 'about/dk_email_address.gif' %></p>
    </td>
  </tr>
</table>








