<h1>About WaveLineup</h1>

<table>
  <tr><td colspan='2'>&nbsp;</td></tr>
  <tr><td colspan='2'><h2>Easy to start using</h2></td></tr>
  <tr>
    <td valign='top' colspan='2'>
<p>The goal was to create a system that is as easy to use as jotting notes on a paper travel card, which could be used immediately in the Practice Room without training or configuration.</p>

<p>We specifically are not trying to 'do everything for everybody' and have endeavored to create a minimal set of useful features which can be refined and expanded over time.</p>

<p>We have taken in to account how we can minimize movement and clicks to get things done, so that you can put your focus on your Practice Members and not record keeping.</p>

<p>All movement and navagation in WaveLineup is based as much as possible on simple button clicks and selectors. This allows the WaveLineup to be used on a standard computer and also on many of the available touch screen tablet pc's (click here to see system requirements).</p>
    </td>
  </tr>
  <tr><td colspan='2'>&nbsp;</td></tr>
  <tr><td colspan='2'><h2>Instantaneously add Practice Members</h2></td></tr>
  <tr>
    <td valign='top'>
      <p>The moment a Practice Member of the day walks in, you can add them to the WaveLineup in real-time, if they are not already there.</p>
    </td>
    <td valign='top'><%= image_tag 'about/new_practice_member.gif' %></td>
  </tr>
  <tr><td colspan='2'>&nbsp;</td></tr>
  <tr><td colspan='2'><h2>Enter Visit Information Right Away</h2></td></tr>
  <tr>
    <td valign='top'>
      <p>Once you add a Practice Member, you are brought to the Visit screen where you can enter their visit information.</p>
    </td>
    <td valign='top'><%= image_tag 'about/visit_single_phase.gif' %></td>
  </tr>
  <tr><td colspan='2'>&nbsp;</td></tr>
  <tr><td colspan='2'><h2>Easily Toggle between Practice Members in your Practice Room</h2></td></tr>
  <tr>
    <td valign='top' >
      <p>As you move between Practice Members while you work, the WaveLineup follows you.</p>
      <p>It maintains a list of all the Practice Members you have accessed in the past 30 minutes.</p>
      <p>To move to another Practice Member in this group, you just click on the Lineup button and then select the Practice Member.</p>
    </td>
    <td valign='top'><%= image_tag 'about/lineup_selector.gif' %></td>
  </tr>
  <tr><td colspan='2'>&nbsp;</td></tr>
  <tr><td colspan='2'><h2>Comprehensive Visit Information Tracking</h2></td></tr>
  <tr>
    <td valign='top'>
      <ul>
        <li><p>Visit Information is based on the traditional Travel Card/Visit form.</p></li>
        <li><p>Work up to two Phases</p></li>
        <li><p>Track Tension Levels and Advanced information</p></li>
        <li><p>Track SRI session information</p></li>
        <li><p>Ample space for Notes and Diagnosis information</p></li>
      </ul>
    </td>
    <td valign='top'><%= image_tag 'about/visit_complete.gif' %></td>
  </tr>
  <tr>
    <td valign='top'>
      <p>The Visit screen also contains a mini-Travel Card icon which shows the Practice Member's Gateway information.</p>
      <p>When a Phase is selected for the visit, the mini-Travel Card highlights the available Gateways for quick reference.</p>
      <p>The second Phase selectors are hidden until needed.</p>
    </td>
    <td valign='top'><%= image_tag 'about/visit_highlight_gateways.gif' %></td>
  </tr>
  <tr><td colspan='2'>&nbsp;</td></tr>
  <tr><td colspan='2'><h2>Practice Member Travel Card</h2></td></tr>
  <tr>
    <td valign='top'>
      <p>The Travel Card contains the following information on the Practice Member:</p>
      <ul>
        <li>Gateways</li>
        <li>Level of Care</li>
        <li>Achievement of Respiratory Wave</li>
        <li>Primary BME strategy</li>
      </ul>
    </td>
    <td valign='top'><%= image_tag 'about/travel_card_basic.gif' %></td>
  </tr>
  <tr>
    <td valign='top'>
      <p>The Travel Card also contains collapsable sections which hold other Practice Member information:</p>
      <ul>
        <li>Tension Levels</li>
        <li>SRI</li>
        <li>Programs/Books</li>
        <li>General Notes</li>
      </ul>
    </td>
    <td valign='top'><%= image_tag 'about/travel_card_extended.gif' %></td>
  </tr>
  <tr><td colspan='2'>&nbsp;</td></tr>
  <tr><td colspan='2'><h2>Review Past Visits</h2></td></tr>
  <tr>
    <td valign='top'>
      <p>The Visit List screen lists the Practice Members Visits, showing you the basics:</p>
      <ul>
        <li>Phase(s) worked</li>
        <li>SRI stages worked</li>
      </ul>
      <p>Any Visit in the list can be clicked upon to reload it into the Visit screen where it can be reviewed or modified.</p>
    </td>
    <td valign='top'><%= image_tag 'about/visit_list.gif' %></td>
  </tr>
  <tr><td colspan='2'>&nbsp;</td></tr>
  <tr><td colspan='2'><h2>Easily Navagate the System</h2></td></tr>
  <tr>
    <td valign='top'>
      <p>The Find selector was created to easily locate the desired Practice Member.</p>
      <p>The list of names can be filtered by selecting the first letter of the last name you wish to filter on, just like an address book.</p>
      <p>By default when selecting an Practice Member here you will be taken to their Practice Room (Visit) screen.</p>
      <p>If you wish to go to a different screen you select it at the top.</p>
    </td>
    <td valign='top'><%= image_tag 'about/find_selector.gif' %></td>
  </tr>
  <tr><td colspan='2'>&nbsp;</td></tr>
  <tr><td colspan='2'><h2>Managing your Practice</h2></td></tr>
  <tr>
    <td valign='top'>
      <h3>Multiple Users possible per Practice</h3>
      <p>A Practice can have many users. Each created user will have their own login credential. Only the user who created the Practice account  can access this screen. Users can also be deleted here.</p>
      <h3>You Always Own Your Data</h3>
      <p>We believe that you should select the best system for your purposes and should never be held hostage to where your data resides. You can always export your Practice data which will include all Practice Members, Travel Card and Visit information in WaveLineup for your practice, in xml format.</p>
      <p>We also encourage you to maintain regular backups of your data by using this function.</p>
    </td>
    <td valign='top'><%= image_tag 'about/manage_practice.gif' %></td>
  </tr>
  <tr><td colspan='2'>&nbsp;</td></tr>
  <tr><td colspan='2'><h2>Statistics</h2></td></tr>
  <tr>
    <td valign='top'>
      <p>When you log in to WaveLineup, you will see some simple statistics for your Practice.</p>
    </td>
    <td></td>
  </tr>
  <tr><td colspan='2'>&nbsp;</td></tr>
  <tr><td colspan='2'><h2>Offer and Pricing</h2></td></tr>
  <tr>
    <td colspan='2'>
      <p>WaveLineup is provided free of charge at the present time.</p>
      <p>At an unspecified point (probably within a year of initial release) subscribing practices will be given a choice to pay a fee for continued use (which will be used to maintain the system status quo), or to pay a higher fee which would enable continued development of new features. If a practice choses not to pay they will still be able to export their practice data.</p>
      <p>Fees have not been determined since it is unclear the demand for this system. The goal will to keep the system affordable to all Practice sizes and income levels, however to achieve there will need to be sufficient subcribers to WaveLineup to keep the price at this level.</p>
    </td>
  </tr>
  <tr><td colspan='2'>&nbsp;</td></tr>
  <tr><td colspan='2'><h2>Future Improvements and Features*</h2></td></tr>
  <tr>
    <td colspan='2'>
      <p>Some proposed features are:</p>
      <ul>
        <li><p>The system is deployed on a staging server which provides all functionality however may be slower at times than once paid membership begins and the server is upgraded.</p></li>
        <li><p>Speed up the processing time of the application</p></li>
        <li><p>Speed up server response</p></li>
        <li><p>Macros for Diagnoses and Comments</p></li>
        <li><p>SOAP notes and forms</p></li>
        <li><p>Basic Accounting</p></li>
        <li><p>Calendar and Practice Member Scheduling</p></li>
        <li><p>Online Scheduling</p></li>
        <li><p>Post-Visit automatic follow-up emails (reinforcing the session and connection of the Practice Member to the Practice)</p></li>
      </ul>
    </td>
  </tr>
  <tr><td colspan='2'>&nbsp;</td></tr>
  <tr><td colspan='2'><h2>Support, Feedback and Feature Requests</h2></td></tr>
  <tr>
    <td valign='top'></td>
    <td></td>
  </tr>
  <tr><td colspan='2'>&nbsp;</td></tr>
  <tr><td colspan='2'><h2>Future Features*</h2></td></tr>
  <tr>
    <td valign='top'></td>
    <td></td>
  </tr>
  <tr><td colspan='2'>&nbsp;</td></tr>
  <tr><td colspan='2'><h2>System Requirements</h2></td></tr>
  <tr>
    <td colspan='2' valign='top'>
      <ul>
        <li><p>A computer or touch screen device with FireFox, Safari or Google Chrome web-browser (Internet Explorer is not supported)</p></li>
        <li><p>An internet connection (preferrably DSL)</p></li>
      </ul>
      <p>All system data resides on a secure remote server, so you have nothing to install and as soon as you update information on one computer or tablet, the same information is available to all computers (at worst you have to reload the screen).</p>
    </td>
  </tr>
  <tr><td colspan='2'><h2>Security and Compliance</h2></td></tr>
  <tr>
    <td colspan='2' valign='top'>
      <p>All subscribing Practices are required to determine if WaveLineup meets the legal requirements of their Country and local jurisdictions.</p>
      <p>WaveLineup functions only on a 256-bit ssl encrypted connection, thus securing data transmission between your device and our servers.</p>
      <p>WaveLineup currently does not house any personal identification information other than Practice Member names. If such data is ever added, it will be encrypted at rest in the system databases.</p>
    </td>
  </tr>
  <tr><td colspan='2'><h2>Business Case for a Community Project</h2></td></tr>
  <tr>
    <td colspan='2' valign='top'>
<p>Cost of hiring a software engineer</p>
<p>Does not guarantee a successful project</p>
<p>Ability to devote full time to building system</p>
<p>Current system is just a potential start, built in a few momths part time. Original system with features removed.</p>
<p>This is an opportunity to have a dedicated systems developer working on that which will long term make managing your practice simpler, more efficient and compliant. Not to mention features which can increase your membership and reinforce the results you are achieveing in the practice room. If enough practices join the system, it will provide an economy of scale and the cost should be able to be kept reasonable for all sizes and locations of practices.</p>
    </td>
  </tr>
  <tr><td colspan='2'><h2>Contact Information</h2></td></tr>
  <tr>
    <td colspan='2' valign='top'>
      <p>Application Url: https://wavelineup.heroku.com</p>
      <p>StructuralArtistry<br>
      David Kahn, Principal Architect and Engineer<br>
      dk at structuralartistry dot com</p>
    </td>
  </tr>
</table>





