<%= javascript_include_tag 'http://www.google.com/jsapi' %>
<%= javascript_include_tag 'bindows_gauges/bindows_gauges.js' %>
<%= javascript_include_tag 'bindows_gauges/gauge2.ie.js' %>
<%= javascript_include_tag 'bindows_gauges/gauge2.js' %>

<script type='text/javascript'>
  google.load('visualization', '1', {packages:['gauge']});
  google.setOnLoadCallback(draw_stats);

  function draw_stats(){

		// global practices
    <% global_practice_count = Practice.where("name<>'Demo Practice'").all.size %>
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Label');
    data.addColumn('number', 'Value');
    data.addRows(1);
    data.setValue(0, 0, 'Practices');
    data.setValue(0, 1, <%= global_practice_count %>);

    var chart = new google.visualization.Gauge(document.getElementById('global_practices_gauge'));
    var options = {
      width: 300,
      height: 150,
      min: 0,
      max: <%= global_practice_count + (global_practice_count * 0.75).to_i %> };
    chart.draw(data, options);

    // global practice members
    <%= global_practice_member_count = PracticeMember.practice_members_global_count %>
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Label');
    data.addColumn('number', 'Value');
    data.addRows(1);
    data.setValue(0, 0, 'Practice Members');
    data.setValue(0, 1, <%= global_practice_member_count %>);
    var chart = new google.visualization.Gauge(document.getElementById('global_practice_members_gauge'));
    var options = {
      width: 300,
      height: 150,
      min: 0,
      max: <%= global_practice_member_count + (global_practice_member_count * 0.75).to_i %>};
    chart.draw(data, options);

    // local practice members
    <% if current_user.practice %>
    <% local_practice_member_count = current_user.practice.my_practice_members.size %>
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Label');
    data.addColumn('number', 'Value');
    data.addRows(1);
    data.setValue(0, 0, 'Practice Members');
    data.setValue(0, 1, <%= local_practice_member_count %>);

    var chart = new google.visualization.Gauge(document.getElementById('local_practice_members_gauge'));
    var options = {
      width: 300,
      height: 150,
      min: 0,
      max:  <%= local_practice_member_count + (local_practice_member_count * 0.75).to_i %>};
    chart.draw(data, options);
    <% end %>

    // local practice visit 30 day count
    <% if current_user.practice %>
    <% thirty_day_visit_count = current_user.practice.visit_count(30.days) %>
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Label');
    data.addColumn('number', 'Value');
    data.addRows(1);
    data.setValue(0, 0, '30 Day Visits');
    data.setValue(0, 1, <%= thirty_day_visit_count %>);

    var chart = new google.visualization.Gauge(document.getElementById('local_practice_visit_30_day_count_gauge'));
    var options = {
      width: 300,
      height: 150,
      min: 0,
      max:  <%= thirty_day_visit_count + (thirty_day_visit_count * 0.75).to_i %>};
    chart.draw(data, options);
    <% end %>
  }

</script>

<span class='home_intro app_color'><%= flash[:notice] %></span>

<table>
  <tr>
    <td style='height: 0.25in'></td>
  </tr>
  <tr>
    <td valign="top">
      <table class='light_pink'>
        <tr>
          <th colspan='2' class="lightpink">My Practice</th>
        </tr>
        <tr>
          <td align="center">
            <div id="local_practice_members_gauge"></div>
          </td>
          <td align="center">
            <div id="local_practice_visit_30_day_count_gauge"></div>
          </td>
        </tr>
      </table>
    </td>
    <td style="width: 0.25in"></td>
    <td valign='top'>
      <table class='light_green'>
        <tr>
          <th colspan="2">
            Systemwide
          </th>
        </tr>
        <tr>
          <td align="center">
            <div id="global_practices_gauge"></div>
          </td>
          <td align="center">
            <div id="global_practice_members_gauge"></div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
	<tr><td colspan='3'>&nbsp;</td></tr>
	<tr>
		<td colspan='3'>
			<div id='invitation'>
        <p class='bold'>Growth and expansion of this system depends on you. Please get the word out!</p>
				<%= render :partial => 'invitations/invitation' %>
			</div>
		</td>
	</tr>
</table>



