<span class='home_intro app_color'><%= flash[:notice] %></span>

<table>
  <tr>
    <% if current_user.practice %>
      <td valign="top" style='width: 5.0in'>
        <table class='light_pink'>
          <tr>
            <th colspan='3'>My Practice</th>
          </tr>
          <tr>
            <td rowspan='2' class='label_light' align="center">
              Practice<br>Members
            </td>
            <td class='label_light' align="center" colspan='2'>30 day stats</td>
          </tr>
          <tr>
            <td class='label_light' align="center">
              Visits
            </td>
            <td class='label_light' align="center">
              Active PMs
            </td>
          </tr>

          <tr>
            <td class='stat' align="center">
              <p class='big'><%= local_practice_member_count = current_user.practice.my_practice_members.size %></p>
            </td>
            <td class='stat' align="center">
              <p class='big'><%= thirty_day_visit_count = current_user.practice.visit_count(30.days) %></p>
            </td>
            <td class='stat' align="center">
              <p class='big'><%= PracticeMember.joins(:visits).select('DISTINCT practice_members.id').where('visits.date>=? AND practice_id=?', (DateTime.now-30.days), current_user.practice.id).count %></p>
            </td>
          </tr>
        </table>
        <br>
        <%= render :partial => 'system' %>
      </td>
      <td valign='top'>
        <table class='light_green'>
          <tr>
            <th>
              Community
            </th>
          </tr>
          <tr>
            <td>
              The cost and future development of this system depend on you! Please refer other Practitioners!
              See <a href='/about#community_driven_project_background_and_business_case' target='new'>Community Driven Project</a> or watch our video:</p>
              <iframe width="350" height="215" src="http://www.youtube.com/embed/5DAjIO96U20" frameborder="0" allowfullscreen></iframe>
            </td>
          </tr>
          <tr>
            <td>
              <div id='invitation'>
                <%= render :partial => 'invitations/invitation' %>
              </div>
            </td>
          </tr>

          <tr><td><%= button_to 'Feature', home_url, :method => :get, :class => 'bold selector_cell selector_cell_nav', :style => 'width: 1.5in;' %></td></tr>
        </table>
      </td>
    <% else %>
      <% if current_user.role.name == 'sysadmin' %>
        <td valign="top" style='width: 5.0in'>
          <table class='light_pink'>
            <tr>
              <th colspan='3'>SYSADMIN</th>
            </tr>
            <% practices_added_today = Practice.where('created_at >= ?', Time.zone.now-SYSADMIN_STATS_LOOKBACK) %>
            <tr>
              <td class='label_light' align="center" colspan='2'>
                Practices/today
              </td>
              <td align="center"><%= Practice.count %>/<%= practices_added_today.all.count %></td>
            </tr>
            <% if practices_added_today.all.count > 0 %>
              <td class='label_light' align="center" colspan='2'>
                Practices Added Today
              </td>
              <% practices_added_today.all.each do |practice| %>
                <tr><td><%= practice.name %>: <%= practice.users.map(&:email) %></td></tr>
              <% end %>
            <% end %>
            <tr>
              <td class='label_light' align="center" colspan='2'>
                PMs/today
              </td>
              <td align="center" colspan='2'><%= PracticeMember.count %>/<%= PracticeMember.where('created_at >= ?', Time.zone.now-SYSADMIN_STATS_LOOKBACK).all.count %></td>
            </tr>
            <tr>
              <td class='label_light' align="center" colspan='2'>
                Visits/today
              </td>
              <td align="center" colspan='2'><%= Visit.count %>/<%= Visit.where('created_at >= ?', Time.zone.now-SYSADMIN_STATS_LOOKBACK).all.count %></td>
            </tr>
            <tr>
              <td class='label_light' align="center" colspan='2'>
                Users/today
              </td>
              <td align="center" colspan='2'><%= User.count %>/<%= User.where('created_at >= ?', Time.zone.now-SYSADMIN_STATS_LOOKBACK).all.count %></td>
            </tr>
            <tr>
              <td class='label_light' align="center" colspan='2'>
                Logins today/bad
              </td>
              <% failed_logins_today = Login.where('created_at >= ? AND success != ?', Time.zone.now-SYSADMIN_STATS_LOOKBACK, true) %>
              <td align="center" colspan='2'><%= Login.where('created_at >= ?', Time.zone.now-SYSADMIN_STATS_LOOKBACK).all.count %>/<%= failed_logins_today.all.count %></td>
            </tr>
            <tr>
              <td class='label_light' align="center" colspan='3'>
                Practice Logins Today/Last
              </td>
            </tr>
            <% Practice.all.each do |practice| %>
              <tr><td><%= practice.name %></td><td align='center'><% total_logins = 0; practice.users.each {|user| total_logins += user.logins.where('created_at >= ?', Time.zone.now-SYSADMIN_STATS_LOOKBACK).count}; %><%= total_logins %></td><td><% last_login = Login.joins(:user).where('users.practice_id=?', practice.id).order('logins.created_at DESC').limit(1).first %> <%= last_login.created_at.strftime('%m-%d-%y') if last_login %></td></tr>
            <% end %>
            <tr>
              <td class='label_light' align="center" colspan='3'>
                Failed Logins Today
              </td>
            </tr>
            <% if failed_logins_today.all.count > 0 %>
              <% failed_logins_today.all.each do |failed_login| %>
                <tr><td colspan='3'><%= failed_login.created_at.strftime('%H:%M') %>: <%= failed_login.email %></td></tr>
              <% end %>
            <% else %>
              <tr><td colspan='3'>None</td></tr>
            <% end %>

            <tr>
              <td class='label_light' align="center" colspan='3'>
                System Errors
              </td>
            </tr>
            <% if SystemError.count > 0 %>
              <% SystemError.order('created_at').all.each do |system_error| %>
                <tr>
                  <td colspan='3'><%= system_error.created_at %><br><%= system_error.user.email if system_error.user %><br><%= system_error.error %><br><%= system_error.incidentals %></td>
                </tr>
              <% end %>
            <% else %>
              <tr><td colspan='3'>None</td></tr>
            <% end %>
          </table>
        </td>
        <td valign='top'>
          <%= render :partial => 'system' %>
          <table>
            <tr>
              <td>
                <div id='invitation'>
                  <%= render :partial => 'invitations/invitation' %>
                </div>
              </td>
            </tr>
          </table>
        </td>
      <% end %>
    <% end %>
  </tr>
</table>



