<p class='label'>Invite another Practitioner!</p>
<%= form_for(@invitation, :html => { :class => "ajax_form"}) do |f| %>
  <% if @invitation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invitation.errors.count, "error") %> prohibited this @invitation from being saved:</h2>

      <ul>
      <% @invitation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
		<%= f.submit 'Send!', :class => 'selector_cell_save' %>
  </div>
<% end %>
