<%= form_for(@invitation, :html => { :class => "ajax_form"}) do |f| %>
	<table class="blue">
		<tr>
			<th>
				Invite another Practitioner!
			</th>
		</tr>
  <% if @invitation.errors.any? %>
		<tr>
			<td>
		    <div id="error_explanation">
		      <h2><%= pluralize(@invitation.errors.count, "error") %> prohibited this @invitation from being saved:</h2>

		      <ul>
		      <% @invitation.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
			</td>
		</tr>
  <% end %>
		<tr>
			<td>
			  <div class="field">
			    <%= f.label :email %><br />
			    <%= f.text_field :email %>
					<%= f.submit 'Send!', :class => 'selector_cell_submit' %>
			  </div>
			</td>
		</tr>
	</table>
<% end %>
