<%= form_for(@practice_member) do |f| %>
  <% if @practice_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@practice_member.errors.count, "error") %> prohibited this practice_member from being saved:</h2>

      <ul>
      <% @practice_member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name_last, "Last Name" %><br />
    <%= f.text_field :name_last %>
  </div>
  <div class="field">
    <%= f.label :name_first, "First Name" %><br />
    <%= f.text_field :name_first %>
  </div>
  <div class="field">
    <%= f.label :name_middle, "Middle Name" %><br />
    <%= f.text_field :name_middle %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit', :class => 'selector_cell_save' %>
  </div>
<% end %>
<!-- this has to be outside the form else the submit action picks up the delete method -->
<% if action_name=='edit' %>
  <%= button_to 'Delete', @practice_member, :confirm => "Are you sure?", :method => :delete, :class => 'selector_cell_delete' %>
<% end %>