<%= form_for(@practice_member) do |f| %>
  <% if @practice_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@practice_member.errors.count, "error") %> prohibited this practice_member from being saved:</h2>

      <ul>
      <% @practice_member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :last_name, "Last Name" %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :first_name, "First Name" %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :middle_name, "Middle Name" %><br />
    <%= f.text_field :middle_name %>
  </div>
  <div class="actions" style="float: left;">
    <%= f.submit 'Submit', :class => 'selector_cell_submit' %>
  </div>
  <div style="width: 1.75in; float: left;">
    &nbsp;
  </div>
<% end %>
<!-- this has to be outside the form else the submit action picks up the delete method -- >
<% if action_name=='edit' %>
  <%= button_to 'Delete', @practice_member, :confirm => "This action can not be undone. Are you sure?", :method => :delete, :class => 'selector_cell_submit' %>
<% end %>