<h1>Practice Members</h1>

<table>
  <tr>
    <th>Last Name</th>
    <th>First Name</th>
    <th>Middle Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @practice_members.each do |practice_member| %>
  <tr id="<%= practice_member.last_name.downcase %>_<%= practice_member.first_name.downcase %>_<%= practice_member.middle_name.downcase %>">
    <td><%= practice_member.last_name %></td>
    <td><%= practice_member.first_name %></td>
    <td><%= practice_member.middle_name %></td>
    <td><%= link_to 'Edit', edit_practice_member_path(practice_member) %></td>
    <td><%= link_to 'Delete', practice_member, :confirm => 'This action can not be undone. Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
