<%= form_for(@practice_member) do |f| %>
  <% if @practice_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@practice_member.errors.count, "error") %> prohibited this practice_member from being saved:</h2>

      <ul>
      <% @practice_member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <th align='left' colspan='4'><h1>New Practice Member</h1></th>
    </tr>
    <tr>
      <td>
        <div class="field">
          <%= f.label :name_last, "Last Name" %><br />
          <%= f.text_field :name_last, :size => 15 %>
        </div>
      </td>
      <td>
        <div class="field">
          <%= f.label :name_first, "First Name" %><br />
          <%= f.text_field :name_first, :size => 15  %>
        </div>
      </td>
      <td>
        <div class="field">
          <%= f.label :name_middle, "Middle Name" %><br />
          <%= f.text_field :name_middle, :size => 10  %>
        </div>
      </td>
      <td>
        <div class="actions">
          <%= f.submit 'Submit', :class => 'selector_cell_save' %>            
        </div>
      </td>
    </tr>
  </table>
<% end %>
