<%= form_for(@practice_member, :html => { :class => "ajax_form"}) do |f| %>
  <table>
    <tr>
      <th align='left' colspan='4'><h1>New Practice Member</h1></th>
    </tr>
    
    <% if @practice_member.errors.any? %>
      <tr>
        <td colspan="4">
        <br \>
        <div id="error_explanation">
          <h2><%= pluralize(@practice_member.errors.count, "error") %> prohibited this practice_member from being saved:</h2>

          <ul>
          <% @practice_member.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
        </td>
      </tr>
    <% end %>
    
    <tr>
      <td>
        <%= f.label :first_name, "First Name" %><br />
      </td>
      <td>
        <%= f.label :last_name, "Last Name" %><br />
      </td>
      <td>
        <%= f.label :middle_name, "Middle Name" %><br />
      </td>
      <td>
      </td>
    </tr>    
    <tr>
      <td>
        <%= f.text_field :first_name, :size => 15  %>
      </td>
      <td>
        <%= f.text_field :last_name, :size => 15 %>
      </td>
      <td>
        <%= f.text_field :middle_name, :size => 10  %>
      </td>
      <td>
        <%= f.submit 'Submit', :class => 'selector_cell_submit' %>            
      </td>
    </tr>
  </table>
<% end %>
