<p id="notice"><%= notice %></p>

<p>
  <b>Practice:</b>
  <%= @practice_member.practice_id %>
</p>

<p>
  <b>Name last:</b>
  <%= @practice_member.name_last %>
</p>

<p>
  <b>Name first:</b>
  <%= @practice_member.name_first %>
</p>

<p>
  <b>Name middle:</b>
  <%= @practice_member.name_middle %>
</p>


<%= link_to 'Edit', edit_practice_member_path(@practice_member) %> |
<%= link_to 'Back', practice_members_path %>
