<!-- SELECTORS -->

  <!-- level of care selector -->
  <div id="level_of_care_selector" class="selector hidden">
    <table class="selector_table">
      <td id='select_level_of_care_1a' class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">1A</td>
      <td id='select_level_of_care_1b' class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">1B</td>
      <td id='select_level_of_care_1c' class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">1C</td>
      <td id='select_level_of_care_2a' class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">2A</td>
      <td id='select_level_of_care_2b' class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">2B</td>
      <td id='select_level_of_care_2c' class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">2C</td>
      <td id='select_level_of_care_3a' class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">3A</td>
      <td id='select_level_of_care_3b' class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">3B</td>
      <td id='select_level_of_care_3c' class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">3C</td>
      <td id='select_level_of_care_4' class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">4</td>
      <td id='select_level_of_care_' class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);"> </td>  
    </table>
  </div>

  <!-- bme strategy selector -->
  <div id="bme_strategy_selector" class="selector hidden">
    <table class="selector_table">
      <td id="bme_selector_b" class="selector_cell selector_cell_text_single_character" onMouseDown="set_bme_strategy('B');">B</td>
      <td id="bme_selector_m" class="selector_cell selector_cell_text_single_character" onMouseDown="set_bme_strategy('M');">M</td>
      <td id="bme_selector_e" class="selector_cell selector_cell_text_single_character" onMouseDown="set_bme_strategy('E');">E</td>
      <td id="bme_selector_" class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);"> </td>  
    </table>
  </div>

  <!-- sri level of awareness selector -->
  <div id="sri_level_of_awareness_selector" class="selector hidden">
    <table class="selector_table">
      <td id="sri_level_of_awareness_0" class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">0</td>
      <td id="sri_level_of_awareness_1" class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">1</td>
      <td id="sri_level_of_awareness_2" class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">2</td>
      <td id="sri_level_of_awareness_3" class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">3</td>
      <td id="sri_level_of_awareness_" class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);"> </td>  
    </table>
  </div>

  <!-- sri position selector -->
  <div id="sri_position_selector" class="selector hidden">
    <table class="selector_table">
      <td id="sri_position_1" class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">1</td>
      <td id="sri_position_2" class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">2</td>
      <td id="sri_position_3" class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">3</td>
      <td id="sri_position_4" class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">4</td>
      <td id="sri_position_5" class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">5</td>
      <td id="sri_position_6" class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">6</td>
      <td id="sri_position_" class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);"> </td>  
    </table>
  </div>

  <!-- phase selector -->
  <div id="phase_selector" class="selector hidden">
    <table class="selector_table">
      <td id='select_phase_1_2_c1' class="selector_cell selector_cell_text_three_character" onMouseDown="set_phase('1 &#062; 2 C1'); ">1 &#062; 2 C1</td>
      <td id='select_phase_1_2_c5' class="selector_cell selector_cell_text_three_character" onMouseDown="set_phase('1 &#062; 2 C5'); ">1 &#062; 2 C5</td>
      <td id='select_phase_1_3' class="selector_cell selector_cell_text_three_character" onMouseDown="set_phase('1 &#062; 3'); ">1 &#062; 3</td>
      <td id='select_phase_1_4' class="selector_cell selector_cell_text_three_character" onMouseDown="set_phase('1 &#062; 4'); ">1 &#062; 4</td>
      <td id='select_phase_1_5' class="selector_cell selector_cell_text_three_character" onMouseDown="set_phase('1 &#062; 5'); ">1 &#062; 5</td>
      <td id='select_phase_2_1_c1' class="selector_cell selector_cell_text_three_character" onMouseDown="set_phase('2 C1');">2 C1</td>
      <td id='select_phase_2_1_c5' class="selector_cell selector_cell_text_three_character" onMouseDown="set_phase('2 C5');">2 C5</td>
      <td id='select_phase_3' class="selector_cell selector_cell_text_three_character" onMouseDown="set_phase('3');">3</td>
      <td id='select_phase_4' class="selector_cell selector_cell_text_three_character" onMouseDown="set_phase('4');">4</td>
      <td id='select_phase_5' class="selector_cell selector_cell_text_three_character" onMouseDown="set_phase('5');">5</td>
      <td id='select_phase_' class="selector_cell selector_cell_text_three_character" onMouseDown="set_phase('');"> </td>  
    </table>
  </div>
  
  <!-- gateway selector -->
  <% if @travel_card %> 
    <div id="phase_gateway_selector" class="selector hidden">
      <table class="selector_table">
        <tr>
          <td id="select_gateway_occ" class="selector_cell gateway_selection_cell selector_cell_text_three_character" onMouseDown="set_phase_gateway(this);"><span class="gateway_selector_side_highlight"><%= @travel_card.dominant_occiput %></span>OCC</td> 
          <td id="select_gateway_occ_c1" class="selector_cell gateway_selection_cell selector_cell_text_three_character" onMouseDown="set_phase_gateway(this);"><span class="gateway_selector_side_highlight"><%= @travel_card.gateway_occ_c1 %></span>OCC/C1</td> 
          <td id="select_gateway_c1_occ" class="selector_cell gateway_selection_cell selector_cell_text_three_character" onMouseDown="set_phase_gateway(this);"><span class="gateway_selector_side_highlight"><%= @travel_card.gateway_c1_occ %></span>C1/OCC</td> 
          <td id="select_gateway_c1_c2" class="selector_cell gateway_selection_cell selector_cell_text_three_character" onMouseDown="set_phase_gateway(this);"><span class="gateway_selector_side_highlight"><%= @travel_card.gateway_c1_c2 %></span>C1/C2</td> 
          <td id="select_gateway_c2_c1" class="selector_cell gateway_selection_cell selector_cell_text_three_character" onMouseDown="set_phase_gateway(this);"><span class="gateway_selector_side_highlight"><%= @travel_card.gateway_c2_c1 %></span>C2/C1</td> 
          <td id="select_gateway_c2_c3" class="selector_cell gateway_selection_cell selector_cell_text_three_character" onMouseDown="set_phase_gateway(this);"><span class="gateway_selector_side_highlight"><%= @travel_card.gateway_c2_c3 %></span>C2/C3</td> 
          <td id="select_gateway_c3_c2" class="selector_cell gateway_selection_cell selector_cell_text_three_character" onMouseDown="set_phase_gateway(this);"><span class="gateway_selector_side_highlight"><%= @travel_card.gateway_c3_c2 %></span>C3/C2</td> 
          <td id="select_gateway_c3_c4" class="selector_cell gateway_selection_cell selector_cell_text_three_character" onMouseDown="set_phase_gateway(this);"><span class="gateway_selector_side_highlight"><%= @travel_card.gateway_c3_c4 %></span>C3/C4</td> 
          <td id="select_gateway_c4_c3" class="selector_cell gateway_selection_cell selector_cell_text_three_character" onMouseDown="set_phase_gateway(this);"><span class="gateway_selector_side_highlight"><%= @travel_card.gateway_c4_c3 %></span>C4/C3</td> 
          <td id="select_gateway_c4_c5" class="selector_cell gateway_selection_cell selector_cell_text_three_character" onMouseDown="set_phase_gateway(this);"><span class="gateway_selector_side_highlight"><%= @travel_card.gateway_c4_c5 %></span>C4/C5</td> 
          <td id="select_gateway_c5_c4" class="selector_cell gateway_selection_cell selector_cell_text_three_character" onMouseDown="set_phase_gateway(this);"><span class="gateway_selector_side_highlight"><%= @travel_card.gateway_c5_c4 %></span>C5/C4</td> 
        </tr>
        <tr>
          <td id="select_gateway_c5_c6" class="selector_cell gateway_selection_cell selector_cell_text_three_character" onMouseDown="set_phase_gateway(this);"><span class="gateway_selector_side_highlight"><%= @travel_card.gateway_c5_c6 %></span>C5/C6</td> 
          <td id="select_gateway_c6_c5" class="selector_cell gateway_selection_cell selector_cell_text_three_character" onMouseDown="set_phase_gateway(this);"><span class="gateway_selector_side_highlight"><%= @travel_card.gateway_c6_c5 %></span>C6/C5</td> 
          <td id="select_gateway_c6_c7" class="selector_cell gateway_selection_cell selector_cell_text_three_character" onMouseDown="set_phase_gateway(this);"><span class="gateway_selector_side_highlight"><%= @travel_card.gateway_c6_c7 %></span>C6/C7</td> 
          <td id="select_gateway_c7_c6" class="selector_cell gateway_selection_cell selector_cell_text_three_character" onMouseDown="set_phase_gateway(this);"><span class="gateway_selector_side_highlight"><%= @travel_card.gateway_c7_c6 %></span>C7/C6</td> 
          <td id="select_gateway_c7_t1" class="selector_cell gateway_selection_cell selector_cell_text_three_character" onMouseDown="set_phase_gateway(this);"><span class="gateway_selector_side_highlight"><%= @travel_card.gateway_c7_t1 %></span>C7/T1</td> 
          <td id="select_gateway_t1_c7" class="selector_cell gateway_selection_cell selector_cell_text_three_character" onMouseDown="set_phase_gateway(this);"><span class="gateway_selector_side_highlight"><%= @travel_card.gateway_t1_c7 %></span>T1/C7</td> 
          <td id="select_gateway_t1_t2" class="selector_cell gateway_selection_cell selector_cell_text_three_character" onMouseDown="set_phase_gateway(this);"><span class="gateway_selector_side_highlight"><%= @travel_card.gateway_t1_t2 %></span>T1/T2</td> 
          <td id="select_gateway_t2_t1" class="selector_cell gateway_selection_cell selector_cell_text_three_character" onMouseDown="set_phase_gateway(this);"><span class="gateway_selector_side_highlight"><%= @travel_card.gateway_t2_t1 %></span>T2/T1</td> 
          <td id="select_gateway_t2_t3" class="selector_cell gateway_selection_cell selector_cell_text_three_character" onMouseDown="set_phase_gateway(this);"><span class="gateway_selector_side_highlight"><%= @travel_card.gateway_t2_t3 %></span>T2/T3</td> 
          <td id="select_gateway_t3_t2" class="selector_cell gateway_selection_cell selector_cell_text_three_character" onMouseDown="set_phase_gateway(this);"><span class="gateway_selector_side_highlight"><%= @travel_card.gateway_t3_t2 %></span>T3/T2</td> 
        </tr>
        <tr>
          <td id="select_gateway_s1" class="selector_cell gateway_selection_cell selector_cell_text_three_character" onMouseDown="set_phase_gateway(this);"><span class="gateway_selector_side_highlight"><%= @travel_card.gateway_s1 %></span>S1</td> 
          <td id="select_gateway_s2" class="selector_cell gateway_selection_cell selector_cell_text_three_character" onMouseDown="set_phase_gateway(this);"><span class="gateway_selector_side_highlight"><%= @travel_card.gateway_s2 %></span>S2</td> 
          <td id="select_gateway_s3" class="selector_cell gateway_selection_cell selector_cell_text_three_character" onMouseDown="set_phase_gateway(this);"><span class="gateway_selector_side_highlight"><%= @travel_card.gateway_s3 %></span>S3</td> 
          <td id="select_gateway_s4" class="selector_cell gateway_selection_cell selector_cell_text_three_character" onMouseDown="set_phase_gateway(this);"><span class="gateway_selector_side_highlight"><%= @travel_card.gateway_s4 %></span>S4</td> 
          <td id="select_gateway_s5" class="selector_cell gateway_selection_cell selector_cell_text_three_character" onMouseDown="set_phase_gateway(this);"><span class="gateway_selector_side_highlight"><%= @travel_card.gateway_s5 %></span>S5</td> 
          <td id="select_gateway_sac" class="selector_cell gateway_selection_cell selector_cell_text_three_character" onMouseDown="set_phase_gateway(this);">SAC</td> 
          <td id="select_gateway_cx" class="selector_cell gateway_selection_cell selector_cell_text_three_character" onMouseDown="set_phase_gateway(this);"><span class="gateway_selector_side_highlight"><%= @travel_card.gateway_cx %></span>CX</td> 
          <td id="select_gateway_apex" class="selector_cell gateway_selection_cell selector_cell_text_three_character" onMouseDown="set_phase_gateway(this);">APEX</td> 
          <td id="select_gateway_no_gateway" class="selector_cell gateway_selection_cell selector_cell_text_three_character" onMouseDown="clear_phase_gateway();"> </td> 
        </tr>
      </table>
    </div>
  <% end %>
  
  <!-- direction selector -->
  <div id="phase_direction_selector" class="selector hidden">
    <table class="selector_table">
      <td id="select_direction_f_e" class="selector_cell selector_cell_text_single_character" onMouseDown="set_phase_direction('F/E');">F/E</td>
      <td id="select_direction_l_b" class="selector_cell selector_cell_text_single_character" onMouseDown="set_phase_direction('L/B');">L/B</td>
      <td id="select_direction_m" class="selector_cell selector_cell_text_single_character" onMouseDown="set_phase_direction('M');">M</td>
      <td id="select_direction_l" class="selector_cell selector_cell_text_single_character" onMouseDown="set_phase_direction('L');">L</td>
      <td id="select_direction_" class="selector_cell selector_cell_text_single_character" onMouseDown="clear_phase_direction();"> </td>  
    </table>
  </div>
  
  <!-- SRI -->
  <!-- sri stage selector -->
  <div id="sri_stage_selector" class="selector hidden">
    <table class="selector_table">
      <td class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">1</td>
      <td class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">2</td>
      <td class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">3</td>
      <td class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">4</td>
      <td class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">5</td>
      <td class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">6</td>
      <td class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">7</td>
      <td class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">8</td>
      <td class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">9</td>
      <td class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">10</td>
      <td class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">11</td>
      <td class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">12</td>
      <td class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);"> </td>  
    </table>
  </div>

  <!-- organizing field selector -->
  <div id="organizing_field_selector" class="selector hidden">
    <table class="selector_table">
      <td class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">H1</td>
      <td class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">H2</td>
      <td class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">H3L</td>
      <td class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">H3U</td>
      <td class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">H4</td>
      <td class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">H5</td>
      <td class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);"> </td>  
    </table>
  </div>
  
  <!-- short leg amount -->
  <div id="short_leg_amount_selector" class="selector hidden">
    <table class="selector_table">
      <td class="selector_cell selector_cell_text_three_character" onMouseDown="set_selected_value(this);">0-0.5</td>
      <td class="selector_cell selector_cell_text_three_character" onMouseDown="set_selected_value(this);">0.5-1</td>
      <td class="selector_cell selector_cell_text_three_character" onMouseDown="set_selected_value(this);">1-1.5</td>
      <td class="selector_cell selector_cell_text_three_character" onMouseDown="set_selected_value(this);">1.5-2</td>
      <td class="selector_cell selector_cell_text_three_character" onMouseDown="set_selected_value(this);">2+</td>
      <td class="selector_cell selector_cell_text_three_character" onMouseDown="set_selected_value(this);"> </td>  
    </table>
  </div>
  
  <!-- tension level selector -->
  <div id="tension_level_selector" class="selector hidden">
    <table class="selector_table">
      <td id="tension_level_0" class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">0</td>
      <td id="tension_level_1" class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">1</td>
      <td id="tension_level_2" class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">2</td>
      <td id="tension_level_3" class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">3</td>
      <td id="tension_level_4" class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">4</td>
      <td id="tension_level_5" class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">5</td>
      <td id="tension_level_6" class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);"> </td>  
    </table>
  </div>
</div>