<%= javascript_include_tag 'travel_card.js' %>
<%= javascript_include_tag 'visit.js' %>

<table>
	<tr>
		<td valign='top'>
			<%= render :partial => 'practice_room_selector' %>
		</td>
	</tr>
	<tr>
		<td valign='top'>
			<div id='practice_room_visit' style='display: none;'>
				<%= render :partial => 'visits/visit' %>
			</div>

			<div id='practice_room_visit_list' style='display: none;'>
				<%= render :partial => 'visits/visit_list' %>
			</div>

			<div id='practice_room_travel_card' style='display: none;'>
				<%= render :partial => 'travel_cards/travel_card' %>
			</div>
		</td>
	</tr>
</table>


<%= render :partial => 'practice_room/selectors' %>

