<%= include_javascripts :practice_room %>

<table>
	<tr>
		<td valign='top'>
			<%= render :partial => 'practice_room_selector' %>
		</td>
	</tr>
	<tr>
		<td valign='top'>
			<div id='practice_room_visit' style='display: none;'>
				<%= render :partial => 'practice_member_visits/practice_member_visit' %>
			</div>

			<div id='practice_room_visit_list' style='display: none;'>
				<p>visit list for <%= @practice_member.full_name_last_comma_first_middle_initial %></p>
			</div>

			<div id='practice_room_travel_card' style='display: none;'>
				<%= render :partial => 'travel_cards/travel_card' %>
			</div>
		</td>
	</tr>
</table>


<%= render :partial => 'practice_room/selectors' %>

