<%= form_for(@practice) do |f| %>
  <% if params[:token] %>
    <% if @practice.referring_practice_id %>
      <p><span class='bold'>You have been referred by: <span style='color: #50A0EB;'><%= @referring_practice_name %></span></span></p>
    <% else %>
      <p class='flash_notice'>The referral link is not valid.<br>You may continue but your Practice will not be assigned as a referral.</p>
    <% end %>
  <% end %>
  <% if @practice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@practice.errors.count, "error") %> prohibited this practice from being saved:</h2>

      <ul>
      <% @practice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :referring_practice_id %>
	<table class="light_pink" style='width: 5in;'>
		<tr>
			<td>
			  <div class="field">
			    <%= f.label :name %><br />
			    <%= f.text_field :name %>
				</dif>
				<div class='field'>
			    <%= f.label :time_zone %><br />
			    <%= f.time_zone_select :time_zone %>
			  </div>
				<%= f.submit 'Submit', :class => 'selector_cell_submit' if action_name == 'edit' || action_name == 'update' %>
			</td>
		</tr>
	</table>
  <% if action_name != 'edit' && action_name != 'update' %>
		<br>
		<table class="light_pink" style='width: 5in;'>
			<tr>
				<td class='bold' valign='top'>Primary User</td>
				<td>
					<%= f.fields_for :users do |u| %>
					      <div class="field">
					        <%= u.label :email %><br />
					        <%= u.text_field :email %>
					      </div>
					      <div class="field">
					        <%= u.label :password %><br />
					        <%= u.password_field :password %>
					      </div>
					      <div class="field">
					        <%= u.label :password_confirmation %><br />
					        <%= u.password_field :password_confirmation %>
					      </div>
			    <% end %>
				</td>
			</tr>
		</table>
		<% if action_name != 'edit' && action_name != 'update' %>
			<p>By clicking 'Submit' you agree to the <%= link_to 'Terms of Service', '/terms_of_service', :target => 'new' %>,<br>and <%= link_to 'Privacy', '/privacy_policy', :target => 'new' %> policies</p>
		<% end %>
		<div class="actions">
	    <%= f.submit 'Submit', :class => 'selector_cell_submit', :style => 'float: left' %>
	  </div>
  <% end %>

<% end %>

<% if action_name == 'edit' && action_name != 'update' %>
	<br>
  <%= render :partial => '/users/index' %>
  <br>
  <table>
    <tr>
      <td>
        <%= button_to 'Export Practice Data', export_practice_url, :method => :get, :class => 'selector_cell_submit', :style => 'float: left; width: 2.0in;' %>
      </td>
      <td style='width: 0.5in'></td>
      <td>
        <%= button_to 'Delete Practice', confirm_delete_practice_url, :method => :get, :class => 'selector_cell_submit', :style => 'clear: left; color: red; width: 2.0in;' %>
      </td>
    </tr>
  </table>
<% end %>

<% if action_name != 'edit' && action_name != 'update' %>
	<%= button_to 'Cancel', login_path, :method => :get, :class => 'selector_cell_submit', :style => 'float: left;' %>
<% end %>



