<%= form_for(@user_session) do |f| %>
  <% if @user_session.errors.any? %>
    <div id="error_explanation">
      <h2>You were not able to be logged in for these reasons:</h2>

      <ul>
      <% @user_session.errors.full_messages.each do |msg| %>
        <% if msg == "Your account is not active" %>
          <%= render :partial => 'activations/reactivate' %>
        <% else %>
         <li><%= msg %></li>
        <% end %>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br />

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email, :size => 22 %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, :size => 22 %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit', :class => 'selector_cell_submit' %>
  </div>
<% end %>
<br />
<%= button_to 'Forgot Password?', new_password_reset_url, :method => :get, :class => 'selector_cell_submit', :style => 'width: 3in;' %>

