<h1>Feature Request</h1>
<%= form_for(@feature_request) do |f| %>
  <% if @feature_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feature_request.errors.count, "error") %> prohibited this feature_request from being saved:</h2>

      <ul>
      <% @feature_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :style => "width: 350px; height: 50px" %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes, :style => "width: 350px; height: 50px" %>
  </div>
  <div class="field">
    <%= f.label :popularity_priority_index %><br />
    <%= f.text_field :popularity_priority_index, :size => 10 %>
  </div>
  <div class="field">
    <%= f.label :date_implemented %><br />
    <%= f.text_field :date_implemented %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit', :class => 'selector_cell_submit' %>
  </div>
<% end %>
