<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @feature_request.name %>
</p>

<p>
  <b>Description:</b>
  <%= @feature_request.description %>
</p>

<p>
  <b>Notes:</b>
  <%= @feature_request.notes %>
</p>

<p>
  <b>Times requested:</b>
  <%= @feature_request.times_requested %>
</p>

<p>
  <b>Date implemented:</b>
  <%= @feature_request.date_implemented %>
</p>


<%= link_to 'Edit', edit_feature_request_path(@feature_request) %> |
<%= link_to 'Back', feature_requests_path %>
