<table>
  <tr>
    <td>
      Copyright 2009-<%= DateTime.now.year %> by <%= link_to 'StructuralArtistry', 'http://structuralartistry.com' %>
    </td>
    <td style='width: 3.0in;'>
    </td>
    <td style='float: right;'>
     <%= link_to 'Terms of Service', '/terms_of_service', :target => 'new' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </td>
    <td>
      <%= link_to 'Privacy Policy', '/privacy_policy', :target => 'new' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </td>
    <td>
      <%= link_to 'About', '/about', :target => 'new' %>
    </td>
  </tr>
</table>
