<script language='javascript'>
$(document).ready(function() {
  // determine if each button should be visible
  
  <% if current_user.practice && current_user.practice.practice_members.size > 0 %>
    practice_member_selector_available = true;
  <% end %>
  
  <% if current_user.can_create_a_practice_member? %>
    new_practice_member_form_available = true;
  <% end %>
  
  set_left_column_buttons();
});

function new_practice_member_form() {
	<% @practice_member = PracticeMember.new %>
	return "<%= escape_javascript(render :partial => 'practice_members/new') %>"
}

function feedback_support_form() {
	<% @feedback_support = FeedbackSupport.new %>
	return "<%= escape_javascript(render :partial => 'feedback_supports/new') %>"
}
</script>

<table class="selector_table" width="150px">
	<tr><td><%= image_tag 'wavelineup_logo.gif' %></td></tr>
	<tr>
    <td align="center">
      <div id="transmitting" class="flash_notice hidden">
        Transmitting
      </div>
			<div id="notices"></div>
    </td>
  </tr>
	<tr><td><%= button_to 'Home', home_url, :method => :get, :class => 'bold selector_cell selector_cell_nav', :style => 'width: 1.5in;' %></td></tr>
	<tr><td><%= button_to 'New PM', '#', :method => :get, :id => 'new_practice_member_show_selector_cell', :class => 'bold selector_cell selector_cell_nav hidden', :style => 'width: 1.5in;', :onclick => "show_dialog('new_practice_member'); return false;" %></td></tr>
	<tr><td><%= button_to 'Find', '#', :method => :get, :id => 'practice_member_selector_show_selector_cell', :class => 'bold selector_cell selector_cell_nav hidden', :style => 'width: 1.5in;', :onclick => "toggle_dialog('practice_member_selector'); return false;" %></td></tr>
	<tr><td></td></tr>
	<tr><td><%= button_to 'Feedback/Support', '#', :method => :get, :id => 'feedback_support_show_selector_cell', :class => 'bold selector_cell selector_cell_nav', :style => 'width: 1.5in;', :onclick => "show_dialog('feedback_support'); return false;" %></td></tr>
	<% if current_user.practice %>
		<tr><td><%= button_to 'Edit Practice', edit_practice_url(current_user.practice.id), :method => :get, :class => 'bold selector_cell selector_cell_nav', :style => 'width: 1.5in;' %></td></tr>
   <% end %>
	<tr><td><%= button_to 'Edit User', edit_user_url(:current), :method => :get, :class => 'bold selector_cell selector_cell_nav', :style => 'width: 1.5in;' %></td></tr>
  <tr><td><%= button_to 'Logout', logout_url, :method => :get, :class => 'bold selector_cell selector_cell_nav', :style => 'width: 1.5in;' %></td></tr>
</table>



