<% if current_user && current_user.practice && current_user.practice.practice_members.size > 0 %>
  <table id='select_target_page' class="selector_table">
    <tr>
      <th align='left' colspan='4'><h1>Select Target Page</h1></th>
    </tr>
    <tr>
			<td id='visit_page_selector' style="width: 1.5in;" class="selector_cell selector_cell_text_six_character page_selector current_selected" onmousedown="$('.page_selector').removeClass('current_selected'); $(this).addClass('current_selected');">Practice Room</td>
      <td id='practice_member_edit_page_selector' style="width: 1.5in;" class="selector_cell selector_cell_text_six_character page_selector" onmousedown="$('.page_selector').removeClass('current_selected'); $(this).addClass('current_selected');">Personal Info</td>
    </tr>
  </table>
  <table class="selector_table">
    <tr>
      <th align='left' colspan='14'><h1>Filter Names</h1></th>
    </tr>
    <tr>
      <td style="width: 0.5in;" class="selector_cell selector_cell_text_six_character alphabet_selector current_selected" onMouseDown="$('.alphabet_selector').removeClass('current_selected'); $(this).addClass('current_selected'); $('.practice_member_list').hide(); $('.practice_member_list').show();">All</td>

      <td style="width: 0.5in;" class="selector_cell selector_cell_text_six_character alphabet_selector" onMouseDown="$('.alphabet_selector').removeClass('current_selected'); $(this).addClass('current_selected'); $('.practice_member_list').hide(); $('.character_group_' + $(this).html()).show();">0-9</td>
      <td style="width: 0.5in;" class="selector_cell selector_cell_text_six_character alphabet_selector" onMouseDown="$('.alphabet_selector').removeClass('current_selected'); $(this).addClass('current_selected'); $('.practice_member_list').hide(); $('.character_group_' + $(this).html()).show();">A</td>
      <td style="width: 0.5in;" class="selector_cell selector_cell_text_six_character alphabet_selector" onmousedown="$('.alphabet_selector').removeClass('current_selected'); $(this).addClass('current_selected'); $('.practice_member_list').hide(); $('.character_group_' + $(this).html()).show();">B</td>
      <td style="width: 0.5in;" class="selector_cell selector_cell_text_six_character alphabet_selector" onmousedown="$('.alphabet_selector').removeClass('current_selected'); $(this).addClass('current_selected'); $('.practice_member_list').hide(); $('.character_group_' + $(this).html()).show();">C</td>
      <td style="width: 0.5in;" class="selector_cell selector_cell_text_six_character alphabet_selector" onmousedown="$('.alphabet_selector').removeClass('current_selected'); $(this).addClass('current_selected'); $('.practice_member_list').hide(); $('.character_group_' + $(this).html()).show();">D</td>
      <td style="width: 0.5in;" class="selector_cell selector_cell_text_six_character alphabet_selector" onmousedown="$('.alphabet_selector').removeClass('current_selected'); $(this).addClass('current_selected'); $('.practice_member_list').hide(); $('.character_group_' + $(this).html()).show();">E</td>
      <td style="width: 0.5in;" class="selector_cell selector_cell_text_six_character alphabet_selector" onmousedown="$('.alphabet_selector').removeClass('current_selected'); $(this).addClass('current_selected'); $('.practice_member_list').hide(); $('.character_group_' + $(this).html()).show();">F</td>
      <td style="width: 0.5in;" class="selector_cell selector_cell_text_six_character alphabet_selector" onmousedown="$('.alphabet_selector').removeClass('current_selected'); $(this).addClass('current_selected'); $('.practice_member_list').hide(); $('.character_group_' + $(this).html()).show();">G</td>
      <td style="width: 0.5in;" class="selector_cell selector_cell_text_six_character alphabet_selector" onmousedown="$('.alphabet_selector').removeClass('current_selected'); $(this).addClass('current_selected'); $('.practice_member_list').hide(); $('.character_group_' + $(this).html()).show();">H</td>
      <td style="width: 0.5in;" class="selector_cell selector_cell_text_six_character alphabet_selector" onmousedown="$('.alphabet_selector').removeClass('current_selected'); $(this).addClass('current_selected'); $('.practice_member_list').hide(); $('.character_group_' + $(this).html()).show();">I</td>
      <td style="width: 0.5in;" class="selector_cell selector_cell_text_six_character alphabet_selector" onmousedown="$('.alphabet_selector').removeClass('current_selected'); $(this).addClass('current_selected'); $('.practice_member_list').hide(); $('.character_group_' + $(this).html()).show();">J</td>
      <td style="width: 0.5in;" class="selector_cell selector_cell_text_six_character alphabet_selector" onmousedown="$('.alphabet_selector').removeClass('current_selected'); $(this).addClass('current_selected'); $('.practice_member_list').hide(); $('.character_group_' + $(this).html()).show();">K</td>
      <td style="width: 0.5in;" class="selector_cell selector_cell_text_six_character alphabet_selector" onmousedown="$('.alphabet_selector').removeClass('current_selected'); $(this).addClass('current_selected'); $('.practice_member_list').hide(); $('.character_group_' + $(this).html()).show();">L</td>
    </tr>
    <tr>
      <td style="width: 0.5in;" class="selector_cell selector_cell_text_six_character alphabet_selector" onmousedown="$('.alphabet_selector').removeClass('current_selected'); $(this).addClass('current_selected'); $('.practice_member_list').hide(); $('.character_group_' + $(this).html()).show();">M</td>
      <td style="width: 0.5in;" class="selector_cell selector_cell_text_six_character alphabet_selector" onmousedown="$('.alphabet_selector').removeClass('current_selected'); $(this).addClass('current_selected'); $('.practice_member_list').hide(); $('.character_group_' + $(this).html()).show();">N</td>
      <td style="width: 0.5in;" class="selector_cell selector_cell_text_six_character alphabet_selector" onmousedown="$('.alphabet_selector').removeClass('current_selected'); $(this).addClass('current_selected'); $('.practice_member_list').hide(); $('.character_group_' + $(this).html()).show();">O</td>
      <td style="width: 0.5in;" class="selector_cell selector_cell_text_six_character alphabet_selector" onmousedown="$('.alphabet_selector').removeClass('current_selected'); $(this).addClass('current_selected'); $('.practice_member_list').hide(); $('.character_group_' + $(this).html()).show();">P</td>
      <td style="width: 0.5in;" class="selector_cell selector_cell_text_six_character alphabet_selector" onmousedown="$('.alphabet_selector').removeClass('current_selected'); $(this).addClass('current_selected'); $('.practice_member_list').hide(); $('.character_group_' + $(this).html()).show();">Q</td>
      <td style="width: 0.5in;" class="selector_cell selector_cell_text_six_character alphabet_selector" onmousedown="$('.alphabet_selector').removeClass('current_selected'); $(this).addClass('current_selected'); $('.practice_member_list').hide(); $('.character_group_' + $(this).html()).show();">R</td>
      <td style="width: 0.5in;" class="selector_cell selector_cell_text_six_character alphabet_selector" onmousedown="$('.alphabet_selector').removeClass('current_selected'); $(this).addClass('current_selected'); $('.practice_member_list').hide(); $('.character_group_' + $(this).html()).show();">S</td>
      <td style="width: 0.5in;" class="selector_cell selector_cell_text_six_character alphabet_selector" onmousedown="$('.alphabet_selector').removeClass('current_selected'); $(this).addClass('current_selected'); $('.practice_member_list').hide(); $('.character_group_' + $(this).html()).show();">T</td>
      <td style="width: 0.5in;" class="selector_cell selector_cell_text_six_character alphabet_selector" onmousedown="$('.alphabet_selector').removeClass('current_selected'); $(this).addClass('current_selected'); $('.practice_member_list').hide(); $('.character_group_' + $(this).html()).show();">U</td>
      <td style="width: 0.5in;" class="selector_cell selector_cell_text_six_character alphabet_selector" onmousedown="$('.alphabet_selector').removeClass('current_selected'); $(this).addClass('current_selected'); $('.practice_member_list').hide(); $('.character_group_' + $(this).html()).show();">V</td>
      <td style="width: 0.5in;" class="selector_cell selector_cell_text_six_character alphabet_selector" onmousedown="$('.alphabet_selector').removeClass('current_selected'); $(this).addClass('current_selected'); $('.practice_member_list').hide(); $('.character_group_' + $(this).html()).show();">W</td>
      <td style="width: 0.5in;" class="selector_cell selector_cell_text_six_character alphabet_selector" onmousedown="$('.alphabet_selector').removeClass('current_selected'); $(this).addClass('current_selected'); $('.practice_member_list').hide(); $('.character_group_' + $(this).html()).show();">X</td>
      <td style="width: 0.5in;" class="selector_cell selector_cell_text_six_character alphabet_selector" onmousedown="$('.alphabet_selector').removeClass('current_selected'); $(this).addClass('current_selected'); $('.practice_member_list').hide(); $('.character_group_' + $(this).html()).show();">Y</td>
      <td style="width: 0.5in;" class="selector_cell selector_cell_text_six_character alphabet_selector" onmousedown="$('.alphabet_selector').removeClass('current_selected'); $(this).addClass('current_selected'); $('.practice_member_list').hide(); $('.character_group_' + $(this).html()).show();">Z</td>
    </tr>
  </table>

	<table class="selector_table">
    <tr>
      <th align='left' colspan='5'><h1>Go</h1></th>
    </tr>
		<% character_group = '' %>
    <tr class='practice_member_list character_group_<%= %>'>
      <% counter = 0 %>
			<% character_group = '' %>
      <% current_user.practice.my_practice_members.each do |practice_member| %>
        <!-- if counter get to expected number, create a new row so these wrap -->
        <% if counter >= 5 || character_group != practice_member.last_name.first.upcase %>
					<% character_group = practice_member.last_name.first.upcase %>
          </tr>
          <tr class='practice_member_list character_group_<%= character_group %>'>
          <% counter = 0 %>
        <% end %>
        <td style="width: 1.5in;" class="selector_cell selector_cell_text_six_character" onmousedown="selected_practice_member_id=<%= practice_member.id %>; selected_practice_member_name='<%= truncate(practice_member.full_name, :length => 30).gsub(/'/, '&#39;') %>'; execute_practice_member_selector_dialog_operation();"><%= truncate(practice_member.full_name, :length => 30) %></td>
        <% counter = counter + 1 %>
      <% end %>
    </tr>
  </table>

<% end %>
