<!DOCTYPE html>
<html>
<head>
  <title>WaveLineup<%= ' ::: ' + current_user.practice.name if current_user && current_user.practice %><%= ' ::: ' + current_user.email if current_user %></title>

  <%= render :partial => '/layouts/general_includes' %>

</head>
<body>
  <div id='container'>
  	<table style='width: 800px;'>
      <tr>
        <td colspan="2">
          <table class="nav_table">
            <tr>
              <td><%= image_tag 'wavelineup_logo.gif' %></td>
        	  </tr>
        	</table>
      	</td>
      </tr>
      <tr valign="top">
        <td valign="top" style="width: 15px;">
        </td>
        <td style="width: 98%;">
     	    <div id="main_frame">
            <%= yield %>
          </div>
        </td>
      </tr>
    </table>
  </div>
</body>
</html>
