<!DOCTYPE html>
<html>
<head>
  <title>Wavelineup3</title>
  <%= stylesheet_link_tag :all %>
  
  <%= javascript_include_tag 'jquery-1.4.2.min' %>
  <%= javascript_include_tag 'jquery-ui-1.8.5.custom.min' %>
  <%= javascript_include_tag 'jquery.utils.min' %>
	<%= javascript_include_tag 'jquery.blockUI' %>
  <%= javascript_include_tag 'bindows_gauges/bindows_gauges.js' %>
  <%= javascript_include_tag 'bindows_gauges/gauge2.ie.js' %>
  <%= javascript_include_tag 'bindows_gauges/gauge2.js' %>
  <%= javascript_include_tag 'ajax' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'travel_card'%>
  <%= javascript_include_tag 'rails' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id='container'>
  	<table style='width: 800px;'>
      <tr>
        <td colspan="2">
          <table class="nav_table">
            <tr>
              <td class='wavelineup'><a href='http://www.structuralartistry.com'><span class='wavelineup'>&nbsp;WaveLineup&nbsp;</span></a></td>
        	  </tr>
        	</table>
      	</td>
      </tr>
      <tr valign="top">
        <td valign="top" style="width: 15px;">
          <% if current_user %>
    		    <%= render :partial => "layouts/left_column" %>
    		  <% end %>
        </td>
        <td style="width: 98%;">        
          <div id="new_practice_member" class="selector hidden" style="display: none;">
          </div>
          <div id="practice_member_selector" class="selector hidden" style="display: none;">
            <%= render :partial => "layouts/practice_member_selector" %>
     	    </div>
					<div id="feedback_support" class="selector hidden" style="display: none;"></div>
     	    <div id="main_frame">
            <%= yield %>
          </div>
        </td>
      </tr>
    </table>
  </div>
</body>
</html>
