<!DOCTYPE html>
<html>
<head>
  <title>WaveLineup3<%= ' ::: ' + current_user.practice.name if current_user && current_user.practice %><%= ' ::: ' + current_user.email if current_user %></title>

	<%= include_stylesheets :common %>
	<%= include_javascripts :common %>
  <%= csrf_meta_tag %>

	<% if flash[:notice] %>
	<script language='javascript'>
		$(document).ready(function() {
			<%= fading_flash_notice %>
		});
	</script>
	<% end %>
</head>
<body>
  <div id='container'>
  	<table style='width: 800px;'>
      <tr>
        <td colspan="2">
          <table class="nav_table">
            <tr>
              <td><%= image_tag 'wavelineup_logo.gif' %></td>
							<% if controller_name=='user_sessions' %>
								<td><%= button_to 'Create My Practice', register_path, :method => :get, :class => 'bold selector_cell selector_cell_nav', :style => 'width: 3.0in;' %></td>
					    <% end %>
        	  </tr>
        	</table>
      	</td>
      </tr>
      <tr valign="top">
        <td valign="top" style="width: 15px;">
        </td>
        <td style="width: 98%;">
					<div id="notices"></div>
     	    <div id="main_frame">
            <%= yield %>
          </div>
        </td>
      </tr>
    </table>
  </div>
</body>
</html>
